{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | SIAPE</title>
    <link rel="stylesheet" href="{% static 'CSS\bootstrap.css' %}">
</head>
<body>
    <div class="row">
        <h1>Biblioteca</h1>
        <a href="http://127.0.0.1:8000/admin/">Django Admin</a>
        <a href="http://127.0.0.1:8000/SIAPE/">Rest Framework</a>
    </div>

    <a href="{% url 'logout' %}">Cerrar Sesión</a>

</body>
</html>