{% extends "plantilla.html" %}
{% load static %}


{% block title %}
    Inicio | SIAPE
{% endblock %}


{% block content %}
    <div class="row">
        <h1>Biblioteca</h1>
        <a href="http://127.0.0.1:8000/admin/">Django Admin</a>
        <a href="http://127.0.0.1:8000/SIAPE/">Rest Framework</a>
        <a href="{% url 'formulario-solicitud' %}">Formulario de Solicitud</a>
    </div>

    {% comment %} El link de Cerrar Sesión ahora está en el header global {% endcomment %}
{% endblock %}
