{% extends "plantilla.html" %}
{% load static %}


{% block title %}
    Inicio | SIAPE
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">
{% endblock %}


{% block content %}

        <nav class="dashboard-nav">
        <a href="http://127.0.0.1:8000/admin/" class="nav-item">
            Django Admin
        </a>
        <a href="http://127.0.0.1:8000/SIAPE/" class="nav-item">
            Rest Framework
        </a>
        <a href="{% url 'formulario-solicitud' %}" class="nav-item">
            Formulario Solicitud
        </a>
    </nav>

{% endblock %}
